/* This defines styles and classes used in the book */
body {
    margin: 5%;
    text-align: justify;
    font-size: medium;
}
blockquote{
    border-left: 4px solid #555;
    margin-left: 1em;
    padding-left: 2em;
}
code {
    font-family: monospace;
}
h1,h2,h3,h4,h5,h6 {
    text-align: left;
}
/* For title, author, and date on the cover page */
/*
h1.title { }
p.author { }
p.date { }
*/
nav#toc ol, nav#landmarks ol {
    padding: 0;
    margin-left: 1em;
}
nav#toc ol li, nav#landmarks ol li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a.footnote-ref {
    vertical-align: super;
}
em, em em em, em em em em em {
    font-style: italic;
}
em em, em em em em {
    font-style: normal;
}
code{
    white-space: pre-wrap;
}
span.smallcaps{
    font-variant: small-caps;
}
span.underline{
    text-decoration: underline;
}
q {
    quotes: "“" "”" "‘" "’";
}
div.column{
    display: inline-block;
    vertical-align: top;
    width: 50%;
}
div.hanging-indent{
    margin-left: 1.5em;
    text-indent: -1.5em;
}
div.pitfall,div.tip,div.trivia{
    padding: 0.5em;
    margin: 1em 0;
}
div.pitfall{
    background-color: #FFF2F2;
    border: 2px solid #BF0000;
}
div.pitfall div.box-title{
    background-color: #FFF2F2;
    border: 2px solid #BF0000;
    font-weight: bold;
}
div.tip{
    background-color: #F2F2FF;
    border: 2px solid #3F3FFF;
}
div.tip div.box-title{
    background-color: #F2F2FF;
    border: 2px solid #3F3FFF;
    font-weight: bold;
}
div.trivia{
    background-color: #F2FFF2;
    border: 2px solid #00DF00;
}
div.trivia div.box-title{
    background-color: #F2FFF2;
    border: 2px solid #00DF00;
    font-weight: bold;
}
div.box-title{
    padding: 0.25em;
}
figure{
    display: block;
    margin: auto;
    text-align: center;
}
table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table thead tr{
    border-bottom: 2px solid black;
}

td, th{
    padding: 0.5em;
}

table caption{
    font-size: 0.75em;
}
pre.sourceCode{
    padding: 0.25em;
    border: 1px solid black;
}
@media screen {
  /* Workaround for iBooks issue; see pandoc issue #6242 */
  .sourceCode {
    overflow: visible !important;
    white-space: pre-wrap !important;
  }
}
